/* Importación de la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset de estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales para el cuerpo de la página */
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c5d1f3;
}

/* Estilos para el encabezado */
header {
  width: 100%;
  height: 10vh;
  background-color: #020f36;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

/* Estilo de la sección principal */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
  gap: 40px;
}

/* Estilos para artículos individuales */
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #fefefe;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 2, 9, 0.3);
  flex: 1;
  transition: all 1s ease;
}

article:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(1, 223, 231, 0.908);
}

article h2 {
  color: #020f36;
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #01dfe7;
}

article p {
  text-align: justify;
  text-indent: 20px;
}

/* Estilo del contenedor de la imagen dentro del artículo */
article .image-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

article .image-container img {
  width: 100%;
  height: auto;
  transition: transform 1s ease;
}

article .image-container:hover img {
  transform: scale(1.1);
}

/* Estilo para pantalla completa del artículo */
.container-img {
  background-color: #ffffff;
}

.title-img {
  width: 100%;
  height: 10vh;
  padding: 20px 0px;
  text-align: center;
  background-color: #020f36;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para la sección de imagen de pantalla completa */
.full-image {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.full-image img {
  width: 100%;
}

.full-image p {
  text-align: justify;
  font-size: 1.2rem;
  text-indent: 40px;
}

/* Estilos para el pie de página */
footer {
  width: 100%;
  background-color: #020f36;
  color: #ffffff;
  padding: 15px 0px;
  margin-top: auto;
}

footer p {
  text-align: center;
}

/* Media Queries: Ajustes de estilo para pantallas de diferentes tamaños */
/* Estilo para pantallas entre 600px y 900px de ancho */
@media (min-width: 600px) and (max-width: 900px) {
  header h1 {
    margin-top: 5px;
  }

  article {
    flex: 0 1 calc(50% - 40px);
    max-width: 45%;
  }
}

/* Estilo para pantallas de menos de 600px de ancho */
@media (max-width: 599px) {
  header h1 {
    margin-top: 0px;
  }

  section {
    flex-direction: column;
    align-items: center;
  }

  article {
    width: 90%;
    max-width: 500px;
    margin-bottom: 10px;
  }
}
